.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 75px;
  width: 600px;
}

.searchform {
  display: block;
  width: 403px;
  margin: 5 auto;
}

.buttons {
  display: block;
  width: 300px;
  margin: 5 auto;
}

.right-footer {
  float: right;
  margin-right: 20px;
}

.left-footer {
  float: left;
  margin: 2px;
}

#nav-bar {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #F2F2F2;
}

button {
  display: inline-block;
  margin: 4px;
  background-color: #F2F2F2;
  height: 34px;
  width: 140px;
}

input {
  width: 403px;
  height: 34;
}

ul {
  list-style-type: none;
}

ul li {
  display: inline;
  margin: 5px;
}

ul li a {
  text-decoration-line: none;
  color: #666;
}
